#grupo {
   width: 600px;
   border-radius: 50%;
   border: 30px solid  #95b39b;
   margin: 100px;
   margin-left: 200px;
   border-top-left-radius: 0%;
}

#logo {
    border-radius: 50%;
    width: 10%;
    margin-right: 800px;
    padding: 10px;
}

.mainmenu {

    display: flex;
    background-color: #95b39b;
    flex-wrap: nowrap;
}

ul {
    padding: 10px;
    list-style: none;
    font-size: 40px;
    color: azure;
    text-decoration: none;
    padding-inline: 100px;
    flex-direction: row;
    
}

li {
    background-color: #95b39b;
    margin-right: 30px;
    
    border-radius: 25%;
    padding: 15px;
    float: left;
    text-decoration: none;

}

li:hover {
    background-color: #edbda6;
    border 3px; border-color:  #edbda6;
    text-decoration: none;
}

#Equipo{
    text-decoration: none;
    color: azure;
}

.Cuerpo {
    background-color: #edbda6;
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-wrap: nowrap;
    margin: auto;
    max-width: auto;


}

.texto_cuerpo {
    flex-direction: column-reverse;
    margin-top: 150px;
    margin-left: 200px;
    display: block;
    font-size: 40px;

}

#boton {
    background-color: #edbda6;
    text-align: center;
    border-radius: 25%;
    padding: 15px;
    float: left;
    text-decoration: none;
    color: azure;
    margin-left: 150px;
}

#boton:hover {
    background-color: #95b39b;
    text-decoration: none;
}

#Elena {
    width: 100px;
    justify-content: center;
    flex-direction: row;
}

.Carta {
    background-color: #95b39b;
    display: flex;
    flex-wrap: nowrap;
    margin-inline-start: auto;
    position: relative;
    justify-content: center;
    font-size: 25px;
    color: azure;
    text-decoration: none;
    padding-inline: 100px;
    flex-direction: row;
}
#Foto {
    width: 200px;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50%;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    justify-content: center;

}
body {
    margin: auto;
    max-width: auto;
}

#Elena{
  align-items: center;
  justify-content: center;
  text-align: center;

}

#Elena:hover{
    background-color: #95b39b;
    text-align: center;
}

