#grupo {
   width: 400px;
   border-radius: 50%;
   border: 30px solid  #95b39b;
   margin: 100px;
   margin-left: 200px;
   border-top-left-radius: 0%;
}

#logo {
    border-radius: 50%;
    width: 75px;
    margin-right: px;
    padding: 10px;
    padding-left: 50px;
}

.mainmenu {

    display: flex;
    background-color: #95b39b;
    flex-wrap: nowrap;
    max-height: 100px;
}

ul {
    list-style: none;
    font-size: 25px;
    color: azure;
    text-decoration: none;
    padding-inline: px;
    flex-direction: row;
    margin-left: 150px;
}

li {
    background-color: #95b39b;
    margin-left: 60px;
    
    border-radius: 25%;
    padding: 15px;
    float: left;
    text-decoration: none;

}

li:hover {
    background-color: #edbda6;
    border 3px; border-color:  #edbda6;
    text-decoration: none;
}

#Equipo{
    text-decoration: none;
    color: azure;
}

.Cuerpo {
    background-color: #edbda6;
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-wrap: nowrap;
    margin: auto;
    max-width: auto;


}

.texto_cuerpo {
    flex-direction: column-reverse;
    margin-top: 150px;
    margin-left: 200px;
    display: block;
    font-size: 40px;

}

#boton {
    background-color: #edbda6;
    text-align: center;
    border-radius: 25%;
    padding: 15px;
    float: left;
    text-decoration: none;
    color: azure;
    margin-left: 150px;
}

#boton:hover {
    background-color: #95b39b;
    text-decoration: none;
}

#Elena {
    width: 100px;
    justify-content: center;
    flex-direction: row;
}

.Carta {
    background-color: #95b39b;
    display: flex;
    flex-wrap: nowrap;
    margin-inline-start: auto;
    position: relative;
    justify-content: space-around;
    font-size: 25px;
    color: azure;
    text-decoration: none;
    flex-direction: row;
    padding-bottom: 10px; 
}
#Foto {
    width: 277px;
    flex-direction: row;
    padding-bottom: 15px;
    border-radius: 50%;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    justify-content: center;

}
body {
    margin: auto;
    max-width: auto;
}


#Foto_consultor{ 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px;
        min-width: 200px;
        text-decoration: none;
        

}


#Foto_consultor:hover{
    background-color: #edbda6;
    text-align: center;
    border-radius: 25%;
    
}

#enlacefoto {
    text-decoration: none;
    color: azure;
    font-weight: bold;
}

.logolinkedin {
    margin-top: 15px;
}

.titulo {
    padding-right: 900px;
    padding-top: 18px;
    font-family: "Bubblegum Sans";
    color: white;
}